{% extends 'basic.html' %}
{% block title %}Text Editor - About{% endblock title %}
{% block aboutactive %}active{% endblock aboutactive %}
{% block style %}
body{
    background-color: #474e5d;
}
.about-section {
padding: 50px;
text-align: center;
background-color: #474e5d;
color: white;
}

{% endblock style %}
{% block body %}
{% load static %}

<body>
    <div class="container">
    <div class="about-section">
        <h1>About Us</h1>
        <p>Text Editor</p>
        <p>In this website you can edit your text data. if you seen any problem in this website you can tell us your
            problem.</p>
            <a class="btn btn-outline-info my-2" href="/contact">Go to Contact</a>
    </div>
</div>

{% endblock body %}