{% extends 'basic.html' %}
{% block head %}
{% load static %}
<!-- <link rel="stylesheet" media="screen and (max-width:400px)" href="{% static 'css/index_media.css' %}"> -->
{% endblock head %}
{% block title %}Text Editor{% endblock title %}
{% block style %}
marquee {
    margin-top: 0px;
    width: 60%;
    }
    
    .runtext-container {
    background-color:#ddddff;
    *background-color:#ccf;
    background-image:-moz-linear-gradient(top,#ccf,#fff);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#ccf),to(#fff));
    background-image:-webkit-linear-gradient(top,#ccf,#fff);
    background-image:-o-linear-gradient(top,#ccf,#fff);
    background-image:linear-gradient(to bottom,#ccf,#fff);
    background-repeat:repeat-x;
    border: 3px solid #000000;
    
    width: 850px;
    overflow-x: hidden;
    overflow-y: visible;
    margin: 0 60px 0 30px;
    padding:0 3px 0 3px;
    }
    
    .main-runtext {margin: 0 auto;
    overflow: visible;
    position: relative;
    height: 40px;
    }
    
    .runtext-container .holder {
    position: relative;
    overflow: visible;
    display:inline;
    float:left;
    
    }
    
    .runtext-container .holder .text-container {
    display:inline;
    }
    
    .runtext-container .holder a{
    text-decoration: none;
    font-weight: bold;
    color:#ff0000;
    text-shadow:0 -1px 0 rgba(0,0,0,0.25);
    line-height: -0.5em;
    font-size:16px;
    }
    
    .runtext-container .holder a:hover{
    text-decoration: none;
    color:#6600ff;
    }
    
    .col-4{
    width: 24.333%;
    }
    
    .row{
        padding-left: 126px;
        padding-right: 89px;
        margin-top: -18px;
    }
    
    .welcome{
        color: rgba(0, 255, 42, 0.884);
    }
    
    .textarea{
        color: red;
    }
{% endblock style %}
{% block indexactive %}active{% endblock indexactive %}
{% block body %}
<div class="container">
    <div class="my-2" align="center">
        <div class="runtext-container">
            <marquee>
                <div class="text-container">
                    <h1 class="my-1 welcome">Welcome to Text Editer</h1>
                </div>
            </marquee>
        </div>
    </div>
    <h3 class="my-1 textarea" align="center"><b>Enter yout text here -</b></h3>
    <form action="/result/" method="post">
        {% csrf_token %}
        <div class="col-12 my-2">
            <div class="text-center">
                <textarea rows="9" cols="80" name="text" id="text"></textarea>
            </div>
            <br>
            <div class="row justify-content-center">
                <div class="col-4 first">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="removepunc" name="removepunc">
                        <label class="form-check-label" for="removepunc"><b>Puncuations Remove</b></label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="newlineremove" name="newlineremove">
                        <label class="form-check-label" for="newlineremove"><b>NewLine Remove</b></label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="espaceremove" name="espaceremove">
                        <label class="form-check-label" for="espaceremove"><b>Extra Space Remove</b></label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="uppercase" name="uppercase">
                        <label class="form-check-label" for="uppercase"><b>UPPERCASE</b></label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="lowercase" name="lowercase">
                        <label class="form-check-label" for="lowercase"><b>Lower Case</b></label>
                    </div>
                </div>


                <div class="col-4 second">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="boldtext" name="boldtext">
                        <label class="form-check-label" for="boldtext"><b>Bold</b></label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="italictext" name="italictext">
                        <label class="form-check-label" for="italictext"><b>Italic</b></label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="str" name="str">
                        <label class="form-check-label" for="str"><b>String</b></label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="int" name="int">
                        <label class="form-check-label" for="int"><b>Integer</b></label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="capitalize" name="capitalize">
                        <label class="form-check-label" for="capitalize"><b>Capitalize</b></label>
                    </div>
                </div>

                <div class="col-4 third">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="charcount" name="charcount">
                        <label class="form-check-label" for="charcount"><b>Character Count</b></label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="spacecount" name="spacecount">
                        <label class="form-check-label" for="spacecount"><b>Space Count</b></label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="strcount" name="strcount">
                        <label class="form-check-label" for="strcount"><b>String Count</b></label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="intcount" name="intcount">
                        <label class="form-check-label" for="intcount"><b>Integer Count</b></label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="comming" name="comming">
                        <label class="form-check-label" for="comming"><b>Comming Soon...</b></label>
                    </div>
                </div>
            </div>

            <div align="center"><button class="btn btn-success btn-sm my-3" type="submit" id="analyze">Analyze</button></div>
        </div>
    </form>
</div>
{% endblock body %}
{% block js %}

{% endblock js %}